[user]
	name = Luqman Azhar
	email = ContactMe@LuqmanAzhar.com
[core]
    editor = vim
	autocrlf = input
	excludesfile = ~/.gitignore
[diff]
    tool = vimdiff
[alias]
    graph = log --all --graph --decorate
[init]
    defaultBranch = main
