[user]
	name = Luqman Azhar
	email = Luqman_Azhar@hotmail.com
[core]
    editor = nvim
	autocrlf = input
	excludesfile = ~/.gitignore
[diff]
    tool = vimdiff
[alias]
    graph = log --all --graph --decorate
[init]
    defaultBranch = main
